
/* ---------------------------------------- */
/* ::: B R E A D C R U M B   A R R O W  ::: */
/* ---------------------------------------- */

$breadcrumbArrow: $breadcrumbHeight / 2;
$breadcrumbPadding: $breadcrumbHeight / 4;

.breadcrumb {
    @extend %cf;
    background-color: $breadcrumbArrowColor;
     
    li { float: left }

    li:first-child .breadcrumb_item {
        padding-left: $breadcrumbPadding;

        &:before { display: none }
    }

    li:last-child .breadcrumb_item {
        padding-right: $breadcrumbPadding;

        &:after { display: none }
    }
}

.breadcrumb_item {
    position: relative;
    display: inline-block;
    @include alignVertically($breadcrumbHeight);
    margin-right: $breadcrumbArrowWidth; padding-left: $breadcrumbPadding * 3;
    background-color: $breadcrumbBackgroundColor;
    color: $breadcrumbTextColor;

    &:before {
        content: "";  
        border-top: $breadcrumbArrow solid transparent;
        border-bottom: $breadcrumbArrow solid transparent;
        border-left: $breadcrumbArrow solid $breadcrumbArrowColor;
        @include absolute(0 0); // == position: absolute; top: 0; right: 0
    }

    &:after {
        content: "";  
        border-top: $breadcrumbArrow solid transparent;
        border-bottom: $breadcrumbArrow solid transparent;
        border-left: $breadcrumbArrow solid $breadcrumbBackgroundColor;
        @include absolute(auto 0 ($breadcrumbArrow * -1) ); z-index: 1;
    }
}


@if $breadcrumbBackgroundColorHover != null {

.breadcrumb_item--link {
    text-decoration: none;

    &:hover {
        background-color: $breadcrumbBackgroundColorHover;

        &:after {
            border-left-color: $breadcrumbBackgroundColorHover;
        }
    }
}

} // endif


@if $breadcrumbTextColorHover != null {

.breadcrumb_item--link:hover { color: $breadcrumbTextColorHover }

} // endif
